
/* hide for js */ 
.hide{
    display: none;
}

.body{
    font-family: "roboto";
}
.home-picture{
    height:400px;
    padding: 15px 5px 15px 5px;
}
.cicerone-text{
    padding: 15px 15px 15px 5px;
}
h1,h2,h4,h5{
    font-family: "Hahmlet";
}


.option{
    padding:10px;
    border: solid black 2px;
    margin: 2px;
}

.correct{
    background-color:green;
}

.wrong{
    background-color: red;
}

.already-answered{
    pointer-events: none;
}

#question-number, #question-text{
    font-weight:700;
    font-size:larger;
    font-family:"Hahmlet";
}

.jumbotron{
    min-height: 500px;
}


/* -------------------- Results Table   */
.results-table{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    width: 75%;
    text-align: left;
    min-height: 350px;
}
.results-table th,.results-table td{
    border: solid black 1px;
    padding-left: 10px;
}
.results-table td{
    font-weight:700;
}
.pass{
    background-color: #46F544;
}
.fail{
    background-color: #F54936;
}