
/* hide for js */ 
.hide{
    display: none;
}


.body{
    font-family: "Roboto";
    background-color: #e7e7e7;
    color: #313639;
}

.home-picture{
    height:400px;
    padding: 15px 5px 15px 5px;
}
.cicerone-text{
    padding: 15px 15px 15px 5px;
}
h1,h2,h4,h5{
    font-family: "Hahmlet", 'Times New Roman', Times, serif;
}

/*------------------Navbar */
.navbar{
   background-color: #f1f1f1;
   color: #161718;

}


.nav-link{
    transition: 0.35s;
}

.nav-link:hover{
    color:rgba(0,0,0,0.80);
}


/*----------------- Rules Modal */
/*--- adjusted from w3schools */
.modal{
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.rules-modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight:700;
}
.close:hover,
.close:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.rules-list{
    font-family: "Hahmlet", 'Times New Roman', Times, serif ;
}




.timer{
    text-align: right;

}

.option{
    padding:10px;
    border: solid black 2px;
    margin: 2px;
}

.correct{
    background-color:green;
}

.wrong{
    background-color: red;
}

.already-answered{
    pointer-events: none;
}

#question-number, #question-text{
    font-weight:700;
    font-size:larger;
    font-family:"Hahmlet";

}

.jumbotron{
    min-height: 500px;
    background-color: rgba(42,39,38,0.25);
    color: #161718;

}


/* ---------Footer*/

.socials{
    text-align: center;
   
}

.social-link{
    font-size: 40px;
    margin: 5px;
    color: #161718;;
    transition: 0.35s;
    
}

.social-link:hover{
    color: rgba(0,0,0,0.75);
    text-decoration: none;
}





/* -------------------- Results Table   */
.results-table{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    width: 75%;
    text-align: left;
    min-height: 350px;
}
.results-table th,.results-table td{
    border: solid black 1px;
    padding-left: 10px;
}
.results-table td{
    font-weight:700;
}
.pass{
    background-color: #46F544;
}
.fail{
    background-color: #F54936;
}