
/* hide for js */ 
.hide{
    display: none;
}

#0, #1, #2, #3{
    padding:10px;
}
.option{
    padding:10px;
    border: solid black 2px;
    margin: 2px;
}

.correct{
    background-color:green;
}

.wrong{
    background-color: red;
}

.already-answered{
    pointer-events: none;
}
